---
layout: page
title: "About"
description: "Hello, this is flyingPointer2"
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <h1>Lorem Ipsum</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula velit nec laoreet volutpat. Donec tincidunt venenatis nulla eget hendrerit. Phasellus rhoncus fermentum sem id consequat. Vestibulum et luctus odio. Integer tristique, purus vel dignissim posuere, sapien lacus elementum risus, quis facilisis nisi ipsum ac ante. Fusce nec sapien facilisis, laoreet ex et, dapibus nisl. Pellentesque consequat a ante in semper.

        Nulla interdum lacus eget bibendum malesuada. Quisque commodo odio libero, in facilisis dui placerat sit amet. Vestibulum sollicitudin tristique euismod. Nulla lacinia nec lorem ac elementum. Nulla elit sapien, lobortis eu suscipit quis, malesuada ac elit. Morbi sit amet aliquet arcu, vel viverra lacus. Nam a magna et tellus elementum efficitur vitae eget nisi. Cras luctus imperdiet sagittis.
        
        Sed sed varius ex. Aliquam tristique nisi id molestie sollicitudin. Donec sed justo sed leo placerat luctus ut at turpis. Nam ac diam sodales, pharetra tellus a, dictum sapien. Morbi ac dolor ac augue dignissim mollis vitae nec urna. Donec id ex est. Donec bibendum eros tortor, ut pellentesque nisi tristique et. Sed sed vestibulum ante. Aliquam quis metus nibh. Sed vitae imperdiet nisl, dignissim venenatis ligula. Donec quam lorem, scelerisque vitae sem quis, condimentum gravida erat. Vestibulum nec lacus vitae felis porta condimentum bibendum condimentum purus. Etiam commodo magna vitae aliquam consectetur. Nulla suscipit consectetur neque in accumsan. Suspendisse et felis lorem. Curabitur nunc est, sollicitudin at fermentum vitae, pellentesque ut urna.
        
        Ut volutpat ex nulla, sed suscipit neque gravida non. Etiam molestie, odio eu cursus congue, lorem dui tempus libero, vel vulputate velit sapien et augue. Nullam vitae eros ac massa congue ultrices sodales eu est. Vestibulum non nibh a neque lacinia faucibus. Aenean commodo sagittis mauris ac tristique. Mauris nisl diam, mollis eu blandit vel, tempor id quam. Aliquam vehicula nulla non risus iaculis commodo. Vestibulum a quam ut tortor convallis laoreet.
        
        Fusce ultrices, sapien nec ornare sagittis, sem massa lobortis lacus, a rutrum magna leo quis elit. Nulla lobortis, risus id placerat tempor, purus neque ullamcorper urna, porta finibus ligula elit in mauris. Praesent elementum erat ac ante tincidunt gravida. Fusce rutrum justo quis aliquet finibus. Etiam in purus non nunc bibendum consectetur non id mi. Curabitur consequat aliquet nunc eget pulvinar. Ut consequat leo placerat est fringilla faucibus. Phasellus vel viverra augue. Fusce sagittis velit vel diam semper, ac consectetur neque venenatis. In elementum eleifend tortor sit amet facilisis. Etiam aliquet dignissim porttitor. 
    </p>

</div>

<!-- English Version -->
<div class="en post-container">
    <h1>Lorem Ipsum</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula velit nec laoreet volutpat. Donec tincidunt venenatis nulla eget hendrerit. Phasellus rhoncus fermentum sem id consequat. Vestibulum et luctus odio. Integer tristique, purus vel dignissim posuere, sapien lacus elementum risus, quis facilisis nisi ipsum ac ante. Fusce nec sapien facilisis, laoreet ex et, dapibus nisl. Pellentesque consequat a ante in semper.

        Nulla interdum lacus eget bibendum malesuada. Quisque commodo odio libero, in facilisis dui placerat sit amet. Vestibulum sollicitudin tristique euismod. Nulla lacinia nec lorem ac elementum. Nulla elit sapien, lobortis eu suscipit quis, malesuada ac elit. Morbi sit amet aliquet arcu, vel viverra lacus. Nam a magna et tellus elementum efficitur vitae eget nisi. Cras luctus imperdiet sagittis.
        
        Sed sed varius ex. Aliquam tristique nisi id molestie sollicitudin. Donec sed justo sed leo placerat luctus ut at turpis. Nam ac diam sodales, pharetra tellus a, dictum sapien. Morbi ac dolor ac augue dignissim mollis vitae nec urna. Donec id ex est. Donec bibendum eros tortor, ut pellentesque nisi tristique et. Sed sed vestibulum ante. Aliquam quis metus nibh. Sed vitae imperdiet nisl, dignissim venenatis ligula. Donec quam lorem, scelerisque vitae sem quis, condimentum gravida erat. Vestibulum nec lacus vitae felis porta condimentum bibendum condimentum purus. Etiam commodo magna vitae aliquam consectetur. Nulla suscipit consectetur neque in accumsan. Suspendisse et felis lorem. Curabitur nunc est, sollicitudin at fermentum vitae, pellentesque ut urna.
        
        Ut volutpat ex nulla, sed suscipit neque gravida non. Etiam molestie, odio eu cursus congue, lorem dui tempus libero, vel vulputate velit sapien et augue. Nullam vitae eros ac massa congue ultrices sodales eu est. Vestibulum non nibh a neque lacinia faucibus. Aenean commodo sagittis mauris ac tristique. Mauris nisl diam, mollis eu blandit vel, tempor id quam. Aliquam vehicula nulla non risus iaculis commodo. Vestibulum a quam ut tortor convallis laoreet.
        
        Fusce ultrices, sapien nec ornare sagittis, sem massa lobortis lacus, a rutrum magna leo quis elit. Nulla lobortis, risus id placerat tempor, purus neque ullamcorper urna, porta finibus ligula elit in mauris. Praesent elementum erat ac ante tincidunt gravida. Fusce rutrum justo quis aliquet finibus. Etiam in purus non nunc bibendum consectetur non id mi. Curabitur consequat aliquet nunc eget pulvinar. Ut consequat leo placerat est fringilla faucibus. Phasellus vel viverra augue. Fusce sagittis velit vel diam semper, ac consectetur neque venenatis. In elementum eleifend tortor sit amet facilisis. Etiam aliquet dignissim porttitor. 
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
